# IDE
.vscode
.idea

# testing files
output.js
benchmarks
test.ts

# executable
elsa
# executable on windows
elsa.exe

# build cache
data.go
target

# third-party tools
node_modules

# macOS specific files
.DS_Store
