name: Build

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build-mac-linux:
    name: Build ${{ matrix.os }}

    runs-on: ${{ matrix.os }}
    env:
      GOPATH: ${{ github.workspace }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - name: Setup repo
        uses: actions/checkout@v2
        with:
          submodules: true
          path: "./src/github.com/elsaland/elsa"

      - name: Setup go
        uses: actions/setup-go@v2

      - name: Print go env
        run: go env

      - name: Install go-bindata
        run: go get github.com/go-bindata/go-bindata

      - name: Run bootstrap
        working-directory: ./src/github.com/elsaland/elsa
        run: go run ./bootstrap/

      - name: Build
        working-directory: ./src/github.com/elsaland/elsa
        run: go build --ldflags "-s -w" -o elsa-${{ matrix.os }} .

      - name: Test
        working-directory: ./src/github.com/elsaland/elsa
        if: startsWith(matrix.os,'ubuntu')
        run: |
          go test ./testing
          ./elsa-${{ matrix.os }} test --fs --net

      - name: Upload Elsa executables
        uses: actions/upload-artifact@v2
        with:
          name: elsa-${{ matrix.os }}
          path: ./src/github.com/elsaland/elsa/elsa-${{ matrix.os }}

  build-windows:
    name: Build Windows

    runs-on: windows-latest
    env:
      GOPATH: ${{ github.workspace }}

    steps:
      - name: Setup repo
        uses: actions/checkout@v2
        with:
          submodules: true
          path: "./src/github.com/elsaland/elsa"

      - name: Setup go
        uses: actions/setup-go@v2

      - name: Print go env
        run: go env

      - name: Install go-bindata
        run: go get github.com/go-bindata/go-bindata

      - name: Run bootstrap
        working-directory: ./src/github.com/elsaland/elsa
        run: go run ./bootstrap/

      - name: Build
        working-directory: ./src/github.com/elsaland/elsa
        run: go build --ldflags "-s -w" -o elsa-windows.exe .

      - name: Upload Elsa executables
        uses: actions/upload-artifact@v2
        with:
          name: elsa-windows-latest
          path: ./src/github.com/elsaland/elsa/elsa-windows.exe